@model ProyectoIdentity.Models.ModelsJourney.Encuesta

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.NombreEncuesta)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-10">
            @Html.DisplayNameFor(model => model.FechaDeCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDeCreacion)
        </dd>


        <dt class = "col-sm-10">
            @Html.DisplayNameFor(model => model.FechaMaximoPlazo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaMaximoPlazo)
        </dd>
    </dl>
</div>
<h2>El numero de respondetes para esta encuenta es @ViewData["respondestesEncuensta"]</h2>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Regreso a la lista de encuestas</a>
</div>
