@model ProyectoIdentity.Models.ModelTemplateJorney.ModelSurvey
@{
    ViewData["Title"] = "CreateEncuestas";
    bool Active = true;
    string firstSteper = "js-active";
    int opcion = 1;
    string[] iconStepper = {"bi bi-globe-americas","bi bi-globe-americas",
                            "bi bi-globe-americas",
                            "bi bi-heart-pulse",
                            "bi bi-piggy-bank-fill",
                            "bi bi-person-check-fill",
                            "bi bi-tools",
                            "bi bi-shield-lock-fill" };
    var paises =Model.Categorias[0].Preguntas.Where(x => x.NombrePregunta == "Pais").Select(x => x.Opciones).First();
}


@section Styles{

    <link rel="stylesheet" href="~/css/styleStepper.css">
    <link rel="stylesheet" href="~/css/Preguntas.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

}

<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="sc-ZqGJI fqodEh">
            <div class="sc-xWrgk hIODdx page-heading-wrapper">
                <div class="heading-wrapper pr-3">
                    <div class="title-row">
                        <h5 id="heading_text" class="sc-gKPRtg kgoyPS">Preguntas</h5>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mx-0">

                <form id="msform" asp-action="CreateEncuestas" asp-controller="Encuestas" method="post">
                    <input type="hidden" name="NombreEncuesta" class="form-control" value="@ViewBag.Encuesta.NombreEncuesta" />
                    <input type="hidden" name="DescripcionEcuesta" class="form-control" value="@ViewBag.Encuesta.DescripcionEncuesta" />
                    <input type="hidden" name="FechaCreacion" class="form-control" value="@ViewBag.Encuesta.FechaDeCreacion" />
                    <input type="hidden" name="Fechalimite" class="form-control" value="@ViewBag.Encuesta.FechaMaximoPlazo" />
                    <input type="hidden" name="CompanyId" class="form-control" value="@ViewBag.Encuesta.CompanyId" />


                    @*<input type="submit" name="next" class="next action-button btn btn-success" value="Finalizar" />*@

                    <!-- progressbar -->

                    <ul id="progressbar">
                        @foreach (var categori in Model.Categorias)
                        {
                            if (Active)
                            {
                                <li class="active @iconStepper[opcion]" id="account"><strong>@categori.Id</strong></li>
                                Active = false;
                            }
                            else
                            {
                                <li class="@iconStepper[opcion]" id="personal"><strong>@categori.Id</strong></li>

                            }
                            opcion++;
                        }
                        @{
                            opcion = 1;
                        }
                    </ul>

                    <!-- fieldsets -->
                    @{
                        int indexCategoria = 0;
                        int indexpreguntas = 0;
                        int indexModal = 1;
                    }
                    @foreach (var categori in Model.Categorias)
                    {
                        <fieldset>
                            <div class="w-100 mt-4 shadow p-4 rounded bg-white">
                                <input type="hidden" name="CategoriaR[@indexCategoria].IdCategoria" value="@categori.Id" />


                                <h3>@Html.DisplayFor(c=>categori.NombreCategoria)</h3>
                                <div class="form-card">
                                    <div class="addQuestion mt-2">
                                        <div class="question-list ">
                                            @{
                                                indexpreguntas = 0;
                                            }
                                            @if (categori.Preguntas != null)
                                            {

                                                @foreach (var pregunta in categori.Preguntas)
                                                {
                                                    <div class="modal fade" id="exampleModal_@indexModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">@categori.NombreCategoria- @pregunta.TipoPregunta</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body sc-xWrgk dbEiCY surveyListBlock">
                                                                    <div>

                                                                        <label class="control-label" for="NombreEncuesta">Pregunta</label>
                                                                    </div>
                                                                    <div class="d-flex w-100 align-items-center mb-2">
                                                                        <div class="common-sub-title mr-2">@pregunta.NumeroPregunta</div>
                                                                        <div class="w-100">
                                                                            <textarea class="form-control custom-survey-input w-100" placeholder="Añadir Pregunta" type="text" data-val="true" data-val-length="Ha excedido el tamaño maximo del Nombre" data-val-length-max="100" id="NombreEncuesta" rows="2" maxlength="200" name="NombreEncuesta">@pregunta.NombrePregunta</textarea>
                                                                        </div>
                                                                    </div>
                                                                    @{if(pregunta.NombrePregunta!="Ciudad" && pregunta.NombrePregunta!="Pais"){
                                                                    //<div>
                                                                    //    <label class="control-label" for="NombreEncuesta">Descripcion de la Pregunta</label>
                                                                    //</div>
                                                                    //<div class="col-md-12 text-limit mt-2">
                                                                    //    <textarea placeholder="Descripcion de la pregunta…" autocomplete="off" rows="4" id="full-width" maxlength="1000" class="form-control"></textarea>
                                                                    //</div>
                                                                    <div class="sc-iTFTee dOrRfI">
                                                                        <div class="sc-iAEawV iTZqMQ">
                                                                            <div class="row">
                                                                                <div class="col-8"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="sc-eeMvmM cYRtHo">0/250</div>
                                                                    </div>
                                                                        }
                                                                    }
                                                                    @if (pregunta.NombrePregunta == "Ciudad")
                                                                    {
                                                                        <div>
                                                                            <label class="control-label" for="NombreEncuesta">Pais</label>
                                                                            <select id="paises">
                                                                                <option value="" selected>Seleccione...</option>
                                                                                
                                                                                @foreach(var pais in paises)
                                                                                {
                                                                                    <option value="@pais.OpcionName">@pais.OpcionName</option>
                                                                                }
                                                                            </select>
                                                                        </div>
                                                                    }
                                                                    @if (pregunta.TipoPregunta != "Abierta")
                                                                    {
                                                                        <div class="row mt-2" id="Opciones">
                                                                            @if (pregunta.Opciones != null || pregunta.NombrePregunta == "Ciudad")

                                                                            {
                                                                                string Invisible= "block";
                                                                                if (pregunta.NombrePregunta == "Ciudad" || pregunta.NombrePregunta == "Pais")
                                                                                {
                                                                                   Invisible = "none";
                                                                                }

                                                                                if (pregunta.NombrePregunta == "Ciudad")
                                                                                {
                                                                                    foreach (var opcionP in Model.Ciudades)
                                                                                    {
                                                                                        <div class="col-6 text-limit mb-1" id="OpcionPregunta" style="display:@Invisible">
                                                                                            <div class="sc-cwSeag iHLect">
                                                                                                <div class="sc-lllmON eEvYeb">
                                                                                                    <textarea id="with-placeholder" maxlength="150" placeholder="Añadir opción..." autocomplete="off" class="sc-iJnaPW fjyQZj">@opcionP.CityName</textarea>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="sc-ezOQGI bQftdk">
                                                                                                <div class="sc-bYMpWt eGMbIs">
                                                                                                    <div class="row">
                                                                                                        <div class="col-12"></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                @if (pregunta.TipoPregunta != "Likkert")
                                                                                                {
                                                                                                    <div class="sc-kMjNwy jtBNGv" id="EliminaOpcion" onclick="EliminaOpcionOne(this)">Eliminar</div>
                                                                                                }

                                                                                            </div>
                                                                                        </div>

                                                                                        opcion++;
                                                                                    }
                                                                                }else{
                                                                                foreach (var opcionP in pregunta.Opciones)
                                                                                {
                                                                                    
                                                                                    <div class="col-6 text-limit mb-1" id="OpcionPregunta" style="display:@Invisible">
                                                                                        <div class="sc-cwSeag iHLect">
                                                                                            <div class="sc-lllmON eEvYeb">
                                                                                                <textarea id="with-placeholder" maxlength="150" placeholder="Añadir opción..." autocomplete="off" class="sc-iJnaPW fjyQZj">@opcionP.OpcionName</textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="sc-ezOQGI bQftdk">
                                                                                            <div class="sc-bYMpWt eGMbIs">
                                                                                                <div class="row">
                                                                                                    <div class="col-12"></div>
                                                                                                </div>
                                                                                            </div>
                                                                                            @if (pregunta.TipoPregunta != "Likkert")
                                                                                            {
                                                                                                <div class="sc-kMjNwy jtBNGv" id="EliminaOpcion" onclick="EliminaOpcionOne(this)">Eliminar</div>
                                                                                            }
                                                                                            
                                                                                        </div>
                                                                                    </div>

                                                                                    opcion++;
                                                                                }
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <div class="col-6 text-limit mb-1" id="OpcionPregunta">
                                                                                        <div class="sc-cwSeag iHLect">
                                                                                            <div class="sc-lllmON eEvYeb">
                                                                                                <textarea id="with-placeholder" maxlength="150" placeholder="Añadir opción..." autocomplete="off" class="sc-iJnaPW fjyQZj"></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="sc-ezOQGI bQftdk">
                                                                                            <div class="sc-bYMpWt eGMbIs">
                                                                                                <div class="row">
                                                                                                    <div class="col-12"></div>
                                                                                                </div>
                                                                                            </div>
                                                                                            @if (pregunta.TipoPregunta != "Likkert")
                                                                                            {
                                                                                                <div class="sc-kMjNwy jtBNGv" id="EliminaOpcion" onclick="EliminaOpcionOne(this)">Eliminar</div>
                                                                                            }
                                                                                            
                                                                                        </div>
                                                                                    </div>
                                                                            }
                                                                            @{
                                                                                opcion = 1;
                                                                            }

                                                                        </div>
                                                                    }

                                                                    <div class="modal-footer justify-content-start">
                                                                        @if (pregunta.TipoPregunta != "Likkert")
                                                                        {
                                                                            <div class="justify-content-center w-75">
                                                                                <button type="button" class="btn btn-outline-success" id="AgregaOpcion"><i class="bi bi-plus-circle"></i> Agregar Opcion</button>
                                                                            </div>
                                                                        }
                                                                        <div>
                                                                            <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" aria-label="Close">Cancelar</button>
                                                                            <button type="button" id="GuardaPregunta" class="btn btn-primary mr-1" data-dismiss="modal" aria-label="Close">Guardar</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row" id="FilaPregunta">
                                                        <div class="col-md-12">
                                                            <div class="showEditDelete">

                                                                <div class="question_number mt-1"><span class="ques-no">@pregunta.NumeroPregunta </span></div>
                                                                
                                                                <div class="question_data">
                                                                    <div id="mandatory-or-not" name="mandatory-or-not" class="mandatory-block"> @pregunta.TipoPregunta </div>

                                                                    <input type="hidden" name="CategoriaR[@indexCategoria].Preguntas[@indexpreguntas].Nombre" id="PreguntaCa" value="@Html.DisplayFor(p=>pregunta.NombrePregunta)" />
                                                                    <input type="hidden" name="CategoriaR[@indexCategoria].Preguntas[@indexpreguntas].Descripcion" id="Descripcion" value="" />
                                                                    <input type="hidden" name="CategoriaR[@indexCategoria].Preguntas[@indexpreguntas].TipoPreguntaId" id="tipoPregunta" value="@Html.DisplayFor(p=>pregunta.IdTipo)"/>
                                                        <div class="bold-questions d-inline-flex mb-0">@Html.DisplayFor(p=>pregunta.NombrePregunta)</div>


                                                                    <div class="editDelete">
                                                                        <button type="button" color="base" size="48" radius="50" class="sc-fnGiBr izDhoi">
                                                                            <span class="sc-fEXmlR kowIqE">
                                                                                <i class="bi-pencil-square" data-toggle="modal" data-target="#exampleModal_@indexModal"></i>
                                                                            </span>
                                                                        </button>
                                                                        @if (categori.NombreCategoria != "Datos Demograficos")
                                                                        {
                                                                            <button type="button" id="DeletQuestion" color="base" size="48" radius="50" class="sc-fnGiBr izDhoi">

                                                                                <!--<i class="bi bi-trash3-fill"></i>-->
                                                                            </button>
                                                                        }
                                                                    </div>
                                                                    <div class="row">
                                                                        @{int indexOpcion = 0;}
                                                                        @if (pregunta.NombrePregunta == "Ciudad")
                                                                        {
                                                                            foreach (var opcionP in Model.Ciudades)
                                                                            {
                                                                                <div class="col-4 optionsQue">
                                                                                    <div class="options">
                                                                                        <div class="block">@opcion</div>
                                                                                        <input type="hidden" id="opcionP" name="Ciudad[@indexOpcion].CityName" value="@opcionP.CityName" />
                                                                                        <div class="block-text ml-2" id="strongly-disagree" name="strongly-disagree" data-Country="@opcionP.CountryId"> @opcionP.CityName </div>
                                                                                    </div>
                                                                                </div>
                                                                                indexOpcion++;
                                                                                opcion++;
                                                                            }
                                                                            indexOpcion = 0;
                                                                        }
                                                                        else if (pregunta.Opciones != null)
                                                                        {
                                                                            
                                                                            foreach (var opcionP in pregunta.Opciones)
                                                                            {
                                                                                <div class="col-4 optionsQue">
                                                                                    <div class="options">
                                                                                        <div class="block">@opcion</div>
                                                                                        <input type="hidden" id="opcionP" name="CategoriaR[@indexCategoria].Preguntas[@indexpreguntas].Opciones[@indexOpcion].NombreOpcion" value="@Html.DisplayFor(o=>opcionP.OpcionName)" />
                                                                                        <div class="block-text ml-2" id="strongly-disagree" name="strongly-disagree"> @opcionP.OpcionName </div>
                                                                                    </div>
                                                                                </div>
                                                                                opcion++;
                                                                                indexOpcion++;
                                                                            }
                                                                            indexOpcion = 0;
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="col-4 optionsQue" style="height:50px;">
                                                                                <div class="options">
                                                                                <div class="block"></div>
                                                                                    <input type="hidden" id="opcionP" name="CategoriaR[@indexCategoria].Preguntas[@indexpreguntas].Opciones[0].NombreOpcion"  value="" />
                                                                                <div class="block-text ml-2" id="strongly-disagree" name="strongly-disagree"></div>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @{
                                                                indexModal++;
                                                                indexpreguntas++;
                                                            }
                                                        </div>
                                                    </div>

                                                    <div id="linedata" style="padding-left: 28px; padding-right: 28px;">
                                                        <hr class="mb-0 mt-0">
                                                    </div>
                                                    opcion = 1;
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sc-xWrgk lssbs steppeActionBlock">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="text-right">
                                            @if (categori.Id == Model.Categorias.Last().Id)
                                            {
                                                <input type="button" name="previous" class="previous action-button-previous btn btn-dark mr-2" value="Anterior" />
                                                <input type="submit" name="next" id="Enviar" class="next action-button btn btn-success" value="Finalizar" />
                                            }
                                            else
                                            {
                                                if (categori.Id != Model.Categorias.First().Id)
                                                {
                                                    <input type="button" name="previous" class="previous action-button-previous btn btn-dark mr-2" value="Anterior" />
                                                }
                                                else
                                                {
                                                    <input type="button" onclick="history.back()" class="btn btn-dark mr-2" value="Anterior" />
                                                }
                                                <input type="button" name="next" class="next action-button btn btn-primary" value="Siguiente" />
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        indexCategoria++;
                    }
                </form>
            </div>
        </div>


    </div>
</div>









@section Scripts{
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/functionStepper.js" asp-append-version="true"></script>
    }
