@model IEnumerable<ProyectoIdentity.Models.ModelsJourney.Encuesta>

@{
    ViewData["Title"] = "Index";
}

@section Styles{
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/Tables.css">
}

<h1>Mis Encuestas</h1>

<table class="display" id="TableEncuestas">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.NombreEncuesta)</th>
            <th>Descripción de la encuesta</th>
            <th>Cliente</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>      
@foreach (var item in Model) {
            var descripcion = item.DescripcionEncuesta != null && item.DescripcionEncuesta.Length > 200 ? item.DescripcionEncuesta.Substring(0, 200) : item.DescripcionEncuesta;
        <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.NombreEncuesta)</td>
                @if (!item.NombreEncuesta.Contains("-Madurez"))
                {
                    <td>@descripcion</td>
                }
                else
                {
                    <td></td>
                }
                
            <td>@Html.DisplayFor(modelItem => item.Cliente)</td>
            <td>
            <div class="d-flex justify-content-between align-items-center">
                        @if (item.NombreEncuesta.Contains("Madurez"))
                        {
                            <a class="titleButton" asp-controller="Dashboard1" asp-action="Index" asp-route-surveyId=@item.Id><i class="bi bi-bar-chart-line-fill" style="color:blue; font-size:30px;"></i></a>                        
                        }else{
                           <a class="titleButton" asp-controller="Dashboard" asp-action="Index" asp-route-surveyId=@item.Id><i class="bi bi-bar-chart-line-fill" style="color:blue; font-size:30px;"></i></a>
                        }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#TableEncuestas').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                    }
                }
            );
        } );
    </script>
}
