@model IEnumerable<ProyectoIdentity.Models.ModelsJourney.Encuesta>

@{
    ViewData["Title"] = "Index";
}
@section Styles{

    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Tables.css">
}

<div class="TitleTable"><h4>Mis Encuestas</h4></div>

<p class="btn btn-info shadow titleButtonP">
    <i class="bi bi-plus-circle-dotted"></i>
    <a class="titleButton" asp-action="Create">Nueva Encuesta</a>
</p>
<table class="display" id="TableEncuestas">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEncuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionEncuesta)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var descripcion = item.DescripcionEncuesta != null && item.DescripcionEncuesta.Length > 200 ? item.DescripcionEncuesta.Substring(0, 200) : item.DescripcionEncuesta;
            <tr>
                <td>@Html.DisplayFor(modelItem=>item.Id)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEncuesta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente)
                </td>
                @if (!item.NombreEncuesta.Contains("Madurez"))
                {
                    <td>
                        @descripcion
                    </td>
                }
                else
                {
                    <td>
                    </td>
                }
                <td>
                    <a href="#" onclick="copyLink('@Html.DisplayFor(modelItem => item.Link)')"><i class="bi bi-clipboard"></i></a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#TableEncuestas').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                    }
                }

            );

        });

        function copyLink(link) {
            var tempInput = document.createElement("input");
            tempInput.value = link;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
            alert("enlace copiado-Enlace:" + link);
        }
    </script>
}

