@model List<ProyectoIdentity.Controllers.Categorias>
<h2>Percepciones para cada Dimensión y Pregunta</h2>
@foreach(var categorias in Model){
<div class="row">
    
    <div class="col-md-12">
        <div class="card" style="width:100%">
            <div class="card-body">
                    <h5 class="card-title">@categorias.CategoriaNombre</h5>
            </div>
            <hr />
            <div class="card-body">
                <p class="card-link">@categorias.CategoriaId</p>
            </div>
        </div>
    </div>
    @foreach (var pregunta in categorias.Preguntas)
    {
        <div class="col-md-6 d-flex flex-column justify-content-between">
            <p class="m-2">@pregunta.PreguntaNombre</p>
            <div class="progress">
                <div class="progress-bar @pregunta.Color" role="progressbar" style="width: @pregunta.porcentaje%" aria-valuenow="@pregunta.Promedio" aria-valuemin="0" aria-valuemax="5">@pregunta.Promedio</div>
            </div>
        </div>

    }
    
</div>
}

<!--<canvas id="myChart5"></canvas>-->
</div>

