@model ProyectoIdentity.Models.ModelsJourney.Respuesta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Respuesta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionRespuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionRespuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Respondente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Respondente.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pregunta.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
