@model ProyectoIdentity.Models.ModelTemplateJorney.ModelSurvey

@{
    ViewData["Title"] = "Delete";
    bool Active = true;
    string firstSteper = "js-active";
    int opcion = 1;
    string[] iconStepper = {"","bi bi-globe-americas",
                            "bi bi-heart-pulse",
                            "bi bi-piggy-bank-fill",
                            "bi bi-person-check-fill",
                            "bi bi-tools",
                            "bi bi-shield-lock-fill" };
}


@section Styles{

    <link rel="stylesheet" href="~/css/styleStepper.css">
    <link rel="stylesheet" href="~/css/Preguntas.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

}


<div class="container" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="row">
            <div class="col-md-12 mx-0">
                <form id="msform" class="needs-validation" novalidate>
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <div class="row d-flex justify-content-center align-items-center">
                        @foreach (var categori in Model.Categorias)
                        {
                            if (Active)
                            {
                                    <li class="col-md-2 active @iconStepper[opcion]" id="account"><strong>@opcion .@categori.NombreCategoria</strong></li>
                                    Active = false;
                            }
                            else
                            {
                                <li class="col-md-2 @iconStepper[opcion]" id="personal"><strong>@opcion .@categori.NombreCategoria</strong></li>
                            }
                            opcion++;
                        }
                        @{
                            opcion=1;
                        }
                        </div>
                    </ul>

                    <!-- fieldsets -->

                    @foreach (var categori in Model.Categorias)
                    {
                        <fieldset>
                            <div class="w-100 mt-4 shadow p-4 rounded bg-white">
                                <div >
                                    <div class="addQuestion mt-2">
                                        <div class="question-list ">
                                            @if (categori.Preguntas != null)
                                            {
                                                <h3 class="titulo-dimension">Beneficios y Madurez</h3>
                                                @foreach (var pregunta in categori.Preguntas)
                                                {
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="showEditDelete">
                                                                <div>
                                                                    <p class="error-description"></p>
                                                                    <div class="bold-questions d-inline-flex mb-0">@Html.DisplayFor(x => pregunta.NumeroPregunta).&nbsp;@Html.DisplayFor(p=>pregunta.NombrePregunta)</div>
                                                                    <div class="row ml-2" >
                                                                        @if (pregunta.Opciones != null)
                                                                        {
                                                                            @foreach (var opcionP in pregunta.Opciones)
                                                                            {
                                                                                @if (pregunta.TipoPregunta == "Likkert")
                                                                                {
                                                                                     <div class="col-md-6 col-sm-12">
                                                                                        <div class="options-multiple-linkert">
                                                                                            <select  class="form-select form-select-sm likkert" aria-label="Default select example">
                                                                                                <option selected>Seleccione</option>
                                                                                                <option value="1">No aplica</option>
                                                                                                <option value="2">No cumple las expectativas</option>
                                                                                                <option value="3">Necesita algunas mejoras</option>
                                                                                                <option value="4">Cumple las expectativas</option>
                                                                                                <option value="5">Supera las expectativas</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    break;
                                                                                }
                                                                                else if(pregunta.TipoPregunta == "Selección Multiple")
                                                                                {
                                                                                    string negrita = opcionP.OpcionName.Split(":")[0];
                                                                                    string otro = opcionP.OpcionName.Split(":")[1];
                                                                                    <div class="form-check-inline">
                                                                                        <div class="col-md-12 col-sm-12">
                                                                                            <div class="options">
                                                                                                <input class="form-check-input datacheck" type="radio" id="inlineCheckbox1" value="@opcionP.OpcionName">
                                                                                                <div class="block-text ml-2 minimo" id="strongly-disagree"  name="strongly-disagree"><i class="fw-bold">@negrita</i> @otro</div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                }
                                                                                else if (pregunta.TipoPregunta == "Selección")
                                                                                {
                                                                                    @if (categori.NombreCategoria == "Aspectos Demograficos"){
                                                                                        <div class="row">
                                                                                            <div class="col-md-6">
                                                                                                        <p class="error-demograficos"></p>
                                                                                                        <p>Pais</p>
                                                                                                        <select class="form-select form-select-sm  select-demograficos"  >
                                                                                                            <option selected>Seleccione</option>
                                                                                                            <option value="value2">Colombia</option>
                                                                                                            <option value="value2">Estados Unidos</option>
                                                                                                        </select>
                                                                                                    </div>
                                                                                                    <div class="col-md-6">
                                                                                                        <p class="error-demograficos"></p>
                                                                                                        <p>Ciudad</p>
                                                                                                        <select class="form-select form-select-sm select-aspectos-demograficos"  >
                                                                                                                <option selected>Seleccione</option>
                                                                                                                <option value="Arauca">Arauca</option>
                                                                                                                <option value="Armenia">Armenia</option>
                                                                                                                <option value="Barranquilla">Barranquilla</option>
                                                                                                                <option value="Bogotá">Bogotá</option>
                                                                                                                <option value="Bucaramanga">Bucaramanga</option>
                                                                                                                <option value="Cali">Cali</option>
                                                                                                                <option value="Cartagena">Cartagena</option>
                                                                                                                <option value="Cúcuta">Cúcuta</option>
                                                                                                                <option value="Florencia">Florencia</option>
                                                                                                                <option value="Ibagué">Ibagué</option>
                                                                                                                <option value="Leticia">Leticia</option>
                                                                                                                <option value="Manizales">Manizales</option>
                                                                                                                <option value="Medellín">Medellín</option>
                                                                                                                <option value="Mitú">Mitú</option>
                                                                                                                <option value="Mocoa">Mocoa</option>
                                                                                                                <option value="Montería">Montería</option>
                                                                                                                <option value="Neiva">Neiva</option>
                                                                                                                <option value="Pasto">Pasto</option>
                                                                                                                <option value="Pereira">Pereira</option>
                                                                                                                <option value="Popayán">Popayán</option>
                                                                                                                <option value="Puerto Carreño">Puerto Carreño</option>
                                                                                                                <option value="Puerto Inírida">Puerto Inírida</option>
                                                                                                                <option value="Quibdó">Quibdó</option>
                                                                                                                <option value="Riohacha">Riohacha</option>
                                                                                                                <option value="San Andrés">San Andrés</option>
                                                                                                                <option value="San José del Guaviare">San José del Guaviare</option>
                                                                                                                <option value="Santa Marta">Santa Marta</option>
                                                                                                                <option value="Sincelejo">Sincelejo</option>
                                                                                                                <option value="Tunja">Tunja</option>
                                                                                                                <option value="Valledupar">Valledupar</option>
                                                                                                                <option value="Villavicencio">Villavicencio</option>
                                                                                                                <option value="Yopal">Yopal</option>
                                                                                                        </select>
                                                                                                    </div>
                                                                                        </div>
                                                                                        <div class="row">
                    
                                                                                            <div class="col-md-6">
                                                                                                <p class="error-demograficos"></p>
                                                                                                <p>Area</p>
                                                                                                <select class="form-select form-select-sm  select-demograficos">
                                                                                                    <option selected>Seleccione</option>
                                                                                                    <option value="value1">Area</option>
                                                                                                </select>
                                                                                            </div>
                                                                                            <div class="col-md-6">
                                                                                                <p class="error-demograficos"></p>
                                                                                                <p>Unidad Negocio</p>
                                                                                                <select class="form-select form-select-sm  select-demograficos">
                                                                                                    <option selected>Seleccione</option>
                                                                                                    <option value="value1">Unidad de Negocio</option>
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                    }
                                                                                    else if (categori.NombreCategoria == "Datos Demograficos")
                                                                                        {
                                                                                            <table class="table">
                                                                                                <thead>
                                                                                                    <tr class="title-table">
                                                                                                        <th scope="col-sm-12">Parentezco</th>
                                                                                                        <th scope="col">Sexo</th>
                                                                                                        <th scope="col">Estado Civil</th>
                                                                                                        <th scope="col">Nivel Educativo</th>
                                                                                                        <th style="width: 0px;">¿Dependiente Economicamente?</th>
                                                                                                        <th scope="col">Edad</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody class="title-table">
                                                                                                    <tr class="demograficos colaborador">
                                                                                                        <th scope="row">Colaborador</th>
                                                                                                    </tr>
                                                                                                    <tr class="demograficos conyugue">
                                                                                                        <th scope="row">Conyugue</th>
                                                                                                    </tr>
                                                                                                    <tr class="demograficos-multiple">
                                                                                                        <th style="width: 10%;" scope="row">Hijos <input class="multiselect" id="hijos" style="width: 50%;" type="number"
                                                                                                                name="quantity" min="0" max="10"></th>
                                                                                                    </tr>
                                                                                                    <tr class="demograficos">
                                                                                                        <th scope="row">Madre</th>
                                                                                                    </tr>
                                                                                                    <tr class="demograficos">
                                                                                                        <th scope="row">Padre</th>
                                                                                                    </tr>
                                                                                                    <tr class="demograficos-multiple">
                                                                                                        <th style="width: 10%;" scope="row">Hermanos <input class="multiselect" id="hermanos" style="width: 50%;" type="number"
                                                                                                            name="quantity" min="0" max="10"></th>
                                                                                                    </tr>
                                                                                                    <tr class="demograficos">
                                                                                                        <th scope="row">Otros</th>
                                                                                                    </tr>

                                                                                                </tbody>
                                                                                            </table>
                                                                                                <!-- View Mobile-->
                                                                                                <div class="container-fluid" id="mobile">
                                                                                                    <div class="accordion" id="accordionExample">
                                                                                                    </div>
                                                                                                </div>
                                                                                        }else{
                                                                                        <div class="col-md-4 col-sm-12">
                                                                                            <div class="options">
                                                                                                <select  class="form-select form-select-sm escala" aria-label="Default select example">
                                                                                                    <option selected>Seleccione</option>
                                                                                                    @foreach (var item in pregunta.Opciones)
                                                                                                    {
                                                                                                        <option value="@item.OpcionName">@item.OpcionName</option>
                                                                                                    }
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                        break;
                                                                                        }
                                                                                }
                                                                                else if (pregunta.TipoPregunta == "Valoracion Multiple")
                                                                                {
                                                                                    <div class="col-md-6 col-sm-12">
                                                                                        <div class="options">
                                                                                                <select  class="form-select form-select-sm escala" aria-label="Default select example">
                                                                                                    <option selected>Seleccione</option>
                                                                                                    <option value="1">1</option>
                                                                                                    <option value="2">2</option>
                                                                                                    <option value="3">3</option>
                                                                                                    <option value="4">4</option>
                                                                                                    <option value="5">5</option>
                                                                                                    <option value="6">6</option>
                                                                                                    <option value="7">7</option>
                                                                                                    <option value="8">8</option>
                                                                                                    <option value="9">9</option>
                                                                                                    <option value="10">10</option>
                                                                                            </select>
                                                                                        <div class="block-text ml-2" id="strongly-disagree" name="strongly-disagree"> @opcionP.OpcionName </div>
                                                                                        </div>
                                                                                    </div>
                                                                                }
                                                                                else if (pregunta.TipoPregunta == "Likkert Multiple" || pregunta.TipoPregunta == "Multiple Likkert")
                                                                                {
                                                                                    <div class="col-md-6 col-sm-12">
                                                                                        <div class="options-multiple-linkert">
                                                                                              <div class="block-text ml-2" id="strongly-disagree" name="strongly-disagree"> @opcionP.OpcionName </div>
                                                                                              <select  class="form-select form-select-sm escala" aria-label="Default select example">
                                                                                                <option selected>Seleccione</option>
                                                                                                <option value="1">No aplica</option>
                                                                                                <option value="2">No cumple las expectativas</option>
                                                                                                <option value="3">Necesita algunas mejoras</option>
                                                                                                <option value="4">Cumple las expectativas</option>
                                                                                                <option value="5">Supera las expectativas</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                }
                                                                            }
                                                                            opcion++;
                                                                        }
                                                                        else
                                                                        {
                                                                            <div style="height:50px;" class="mt-2">
                                                                                  <input type="text" class="form-control" >
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div style="padding-left: 28px; padding-right: 28px;">
                                                        <hr class="mb-0 mt-0">
                                                    </div>
                                                    opcion = 1;
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sc-xWrgk lssbs steppeActionBlock">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-right">
                                            @if (categori.Id==Model.Categorias.Last().Id)
                                            {
                                                <input type="button" name="previous" id="Anterior" class="previous action-button-previous btn btn-dark mr-2" value="Anterior" />
                                                <input type="submit" name="next" id="EnviarEncuestaMadurez" class="next action-button btn btn-success" value="Enviar Encuesta" />
                                            }
                                            else
                                            {
                                                if (categori.Id != Model.Categorias.First().Id)
                                                {
                                                    <input type="button" name="previous" class="previous action-button-previous btn btn-dark mr-2" value="Anterior" />
                                                }
                                                else
                                                {
                                                    <input type="button" onclick="history.back()" class="btn btn-dark mr-2" value="Anterior" />
                                                }
                                                <input type="button" name="next" class="next action-button btn btn-primary" value="Siguiente" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>

        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
            });
        }, false);
        })();

    $(function(){
        $("#Anterior").click(function (e) {
            e.preventDefault();
            document.location = '@Url.Action("RedirectIndexRespuestasMadurez","Respuestas")';
        });
    });


</script>
    }
