@model ProyectoIdentity.Controllers.SurveyNew

@{
    ViewData["Title"] = "Delete";
    bool Active = true;
    string firstSteper = "js-active";
    int opcion = 1;
    string[] iconStepper = {"","bi bi-globe-americas",
                            "bi bi-heart-pulse",
                            "bi bi-piggy-bank-fill",
                            "bi bi-person-check-fill",
                            "bi bi-tools",
                            "bi bi-shield-lock-fill" };
   
}


@section Styles{

    <link rel="stylesheet" href="~/css/styleStepper.css">
    <link rel="stylesheet" href="~/css/Preguntas.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

}


<div class="container" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="row">
            <div class="col-md-12 mx-0">
                <form id="msform" class="needs-validation" novalidate>
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <div class="row d-flex justify-content-between">
                        @foreach (var categori in Model.Categorias)
                        {
                            if (Active)
                            {
                                    <li class="col-md-2 active @iconStepper[opcion]" id="account"><strong>@opcion .@categori.NombreCategoria</strong></li>
                                    Active = false;
                            }
                            else
                            {
                                <li class="col-md-2 @iconStepper[opcion]" id="personal"><strong>@opcion .@categori.NombreCategoria</strong></li>
                            }
                            opcion++;
                        }
                        @{
                            opcion=1;
                        }
                        </div>
                    </ul>

                    <!-- fieldsets -->

                    @foreach (var categori in Model.Categorias)
                    {
                        <fieldset>
                            <div class="w-100 mt-4 shadow p-4 rounded bg-white">
                                <div >
                                    <div class="addQuestion mt-2">
                                        <div class="question-list ">
                                            @if (categori.Preguntas != null)
                                            {
                                                <h3 class="titulo-dimension">@categori.NombreCategoria</h3>
                                                <p class="descripcion-dimension"></p>
                                                @if (categori.NombreCategoria == "Aspectos Demograficos")
                                                {
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="showEditDelete">
                                                                <div>
                                                                    <p class="error-description"></p>
                                                                    <div class="row ml-2" >
                                                                        <div class="col-md-6 col-sm-12">
                                                                            <p>Paises</p>
                                                                            <select  class="form-select form-select-sm likkert" aria-label="Default select example" id="paises" required>
                                                                                <option value="" selected>Seleccione</option>
                                                                                @foreach (var option in Model.Paises)
                                                                                {
                                                                                    <option value="@option.CountryName">@option.CountryName</option>
                                                                                }
                                                                            </select>
                                                                            <div class="invalid-feedback">
                                                                                Requerido.
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-12">
                                                                            <p>Ciudades</p>
                                                                            <select  class="form-select form-select-sm likkert" aria-label="Default select example" id="capitales"required>
                                                                                <option value="" selected>Seleccione</option>
                                                                                @foreach (var option in Model.Paises)
                                                                                {
                                                                                    @foreach (var option2 in option.Cities)
                                                                                    {
                                                                                        <option value="@option2.Country.CountryName">@option2.CityName</option>
                                                                                    }
                                                                                }
                                                                            </select>
                                                                            <div class="invalid-feedback">
                                                                                Requerido.
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-12">
                                                                            <p>Negocio</p>
                                                                            <select  class="form-select form-select-sm likkert" aria-label="Default select example" required>
                                                                                <option value="" selected>Seleccione</option>
                                                                                @foreach (var option in Model.Negocios)
                                                                                {
                                                                                    <option value="1">@option.NameBusinnes</option>
                                                                                }
                                                                            </select>
                                                                            <div class="invalid-feedback">
                                                                                Requerido.
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-12">
                                                                            <p>Área</p>
                                                                            <select  class="form-select form-select-sm likkert" aria-label="Default select example" required>
                                                                                <option value="" selected>Seleccione</option>
                                                                                @foreach (var option in Model.Area)
                                                                                {
                                                                                    <option value="1">@option.AreaName</option>
                                                                                }
                                                                            </select>
                                                                            <div class="invalid-feedback">
                                                                                Requerido.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                } else if (categori.NombreCategoria == "Datos Demograficos")
                                                                                        {
                                                                                            <table class="table">
                                                                                                <thead>
                                                                                                    <tr class="title-table">
                                                                                                        <th scope="col-sm-12">Parentezco</th>
                                                                                                        <th scope="col">Sexo</th>
                                                                                                        <th scope="col">Estado Civil</th>
                                                                                                        <th scope="col">Nivel Educativo</th>
                                                                                                        <th style="width: 0px;">¿Dependencia Economica?</th>
                                                                                                        <th scope="col">Edad</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody class="title-table">
                                                            @foreach(var option in Model.Demograficos[0].OpcionesDemo)
                                                            {
                                                                 <tr class="demograficos" id="@option.Name">
                                                                                     
                                                                    @if(option.Name=="Hijo" || option.Name == "Otros")
                                                                    {
                                                                        int cant = 0;
                                                                        if (option.Name == "Hijo")
                                                                            cant = 10;
                                                                        else
                                                                            cant = 3;
                                                                        <th style="width: 10%;" scope="row"><p>@option.Name</p> 
                                                                            <input class="multiselect" id="MultipleRegister" style="width: 50%;" type="number"
                                                                                                                name="quantity" min="0" max="@cant">
                                                                        </th>
                                                                        
                                                                    }else{
                                                                        <th scope="row">@option.Name</th>
                                                                    <td>
                                                                                      <select class="form-select form-select-sm select-demograficos"   name="select" required>
                                                                            @if (option.Name == "Madre")
                                                                            {
                                                                                <option value="Femenino" selected>Femenino</option>
                                                                            }else if (option.Name == "Padre")
                                                                            {
                                                                                <option value="Masculino" selected>Masculino</option>
                                                                            }else{
                                                                            <option selected value="">Seleccione</option>
                                                                                            @foreach(var select in Model.Demograficos[1].OpcionesDemo){
                                                                                                <option value="@select.Name">@select.Name</option>
                                                                                            }
                                                                            }
                                                                                        </select>
                                                                                       </td>
                                                                                       <td>
                                                                                        <select class="form-select form-select-sm select-demograficos"  name="select" onchange="block(this)" required>
                                                                                            <option selected value="" >Seleccione</option>
                                                                                            @foreach(var select in Model.Demograficos[2].OpcionesDemo){
                                                                                    if(option.Name=="Colaborador" && select.Name=="Fallecido"){ continue; }

                                                                                                <option value="@select.Name">@select.Name</option>
                                                                                            }
                                                                                        </select>
                                                                                       </td>
                                                                                       <td>
                                                                                        <select class="form-select form-select-sm select-demograficos"  name="select" required>
                                                                                            <option selected value="">Seleccione</option>
                                                                                            @foreach(var select in Model.Demograficos[3].OpcionesDemo){
                                                                                                <option value="@select.Name">@select.Name</option>
                                                                                            }
                                                                                        </select>
                                                                                       </td>
                                                                                       <td>
                                                                                           @if(option.Name!="Colaborador"){  
                                                                                        <select class="form-select form-select-sm select-demograficos"  name="select" required>
                                                                                            <option selected value="">Seleccione</option>
                                                                                            @foreach(var select in Model.Demograficos[4].OpcionesDemo){
                                                                                                <option value="@select.Name">@select.Name</option>
                                                                                            }
                                                                                        </select>
                                                                                        }
                                                                                       </td>
                                                                                       <td>
                                                                                           
                                                                                        <select class="form-select form-select-sm select-demograficos"  name="select" required>
                                                                                            
                                                                                            <option selected value="">Seleccione</option>
                                                                                            @foreach(var select in Model.Demograficos[5].OpcionesDemo){
                                                                                                
                                                                                                <option value="@select.Name">@select.Name</option>
                                                                                            }
                                                                                        </select>
                                                                                       </td>
                                                                   }                   
                                                                 </tr>
                                                                 
                                                                
                                                            }

                                                                                                </tbody>

                                                                                                </table>
                                                                                                @*</thead>
                                                                                                
                                                                                                   
                                                                                                    <tr class="demograficos conyugue">
                                                                                                        <th scope="row">Conyugue</th>
                                                                                                    </tr>
                                                                                                    <tr class="demograficos-multiple">
                                                                                                        <th style="width: 10%;" scope="row">Hijos <input class="multiselect" id="hijos" style="width: 50%;" type="number"
                                                                                                                name="quantity" min="0" max="10"></th>
                                                                                                    </tr>
                                                                                                    <tr class="demograficos">
                                                                                                        <th scope="row">Madre</th>
                                                                                                    </tr>
                                                                                                    <tr class="demograficos">
                                                                                                        <th scope="row">Padre</th>
                                                                                                    </tr>
                                                                                                    <tr class="demograficos-multiple">
                                                                                                        <th style="width: 10%;" scope="row">Hermanos <input class="multiselect" id="hermanos" style="width: 50%;" type="number"
                                                                                                            name="quantity" min="0" max="10"></th>
                                                                                                    </tr>
                                                                                                    <tr class="demograficos-multiple">
                                                                                                        <th scope="row">Otros Familiares<input class="multiselect" id="otros-familiares" style="width: 50%;" type="number"
                                                                                                            name="quantity" min="0" max="3"></th>
                                                                                                    </tr>

                                                                                                
                                                                                            </table>
                                                                                                <!-- View Mobile-->
                                                                                                <div class="container-fluid" id="mobile">
                                                                                                    <div class="accordion" id="accordionExample">
                                                                                                    </div>
                                                                                                </div>*@
                                                                                        }


                                                @foreach (var pregunta in categori.Preguntas)
                                                {
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="showEditDelete">
                                                                <div>
                                                                    <p class="error-description"></p>
                                                                    <div class="bold-questions d-inline-flex mb-0">@Html.DisplayFor(x => pregunta.NumeroPregunta).&nbsp;@Html.DisplayFor(p=>pregunta.NombrePregunta)</div>
                                                                    <div class="row ml-2" >
                                                                        @if (pregunta.Opciones != null)
                                                                        {
                                                                            @foreach (var opcionP in pregunta.Opciones)
                                                                            {
                                                                                @if (pregunta.TipoPregunta == "Likkert")
                                                                                {
                                                                                    if (pregunta.NumeroPregunta == 17)
                                                                                    {
                                                                                        <p>esta es la 17</p>
                                                                                    }else{
                                                                                        <div class="col-md-6 col-sm-12">
                                                                                        <div class="options-multiple-linkert">
                                                                                            <select  class="form-select form-select-sm likkert" aria-label="Default select example" required>
                                                                                                <option value="" selected>Seleccione</option>
                                                                                                @foreach(var option in pregunta.Opciones){
                                                                                                    <option value="1">@option.OpcionName</option>
                                                                                                }
                                                                                            </select>
                                                                                        </div>
                                                                                       </div>
                                                                                    }
                                                                                    
                                                                                    
                                                                                }
                                                                                else if(pregunta.TipoPregunta == "Seleccion Multiple")
                                                                                {
                                                                                    <div class="form-check-inline">
                                                                                        <div class="col-md-12 col-sm-12">
                                                                                            <div class="options">
                                                                                                <input class="form-check-input datacheck" type="checkbox" id="inlineCheckbox1" value="@opcionP.OpcionName" readonly>
                                                                                                <div class="block-text ml-2 minimo" id="strongly-disagree"  name="strongly-disagree">@opcionP.OpcionName</div>
                                                                                            </div>
                                                                                            
                                                                                        </div>
                                                                                        <div class="invalid-feedback">
                                                                                            You must agree before submitting.
                                                                                      </div>
                                                                                    </div>  
                                                                                }
                                                                                else if (pregunta.TipoPregunta == "Respuesta Unica")
                                                                                {
                                                                                    @if (categori.NombreCategoria == "Aspectos Demograficos"){
                                                                                        <div class="row">
                                                                                            <div class="col-md-6">
                                                                                                        <p class="error-demograficos"></p>
                                                                                                        <p>Pais</p>
                                                                                                        <select value="" class="form-select form-select-sm  select-aspectos-demograficos" id="paises"  required>
                                                                                                            <option selected disabled value="">Choose...</option>
                                                                                                            <option value="Colombia">Colombia</option>
                                                                                                            <option value="Estados Unidos">Estados Unidos</option>
                                                                                                            <option value="Argentina">Argentina</option>
                                                                                                            <option value="Bolivia">Bolivia</option>
                                                                                                            <option value="Brasil">Brasil</option>
                                                                                                            <option value="Ecuador">Ecuador</option>
                                                                                                            <option value="Paraguay">Paraguay</option>
                                                                                                            <option value="Perú">Perú</option>
                                                                                                            <option value="Surinam">Surinam</option>
                                                                                                            <option value="Trinidad y Tobago">Trinidad y Tobago</option>
                                                                                                            <option value="Uruguay">Uruguay</option>
                                                                                                            <option value="Venezuela">Venezuela</option>
                                                                                                            <option value="México">México</option>
                                                                                                        </select>
                                                                                                        <div class="invalid-feedback">
                                                                                                            Requerido
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-6">
                                                                                                        <p class="error-demograficos"></p>
                                                                                                        <p>Ciudad</p>
                                                                                                        <select class="form-select form-select-sm select-aspectos-demograficos" id="capitales"  required>
                                                                                                                <option selected disabled value="">Choose...</option>
                                                                                                        </select>
                                                                                                    </div>
                                                                                        </div>
                                                                                        <div class="row">
                    
                                                                                            <div class="col-md-6">
                                                                                                <p class="error-demograficos"></p>
                                                                                                <p>Area</p>
                                                                                                <select class="form-select form-select-sm  select-aspectos-demograficos" id="validationCustom05" required>
                                                                                                    <option selected disabled value="">Seleccione</option>
                                                                                                    <option value="value1">Area</option>
                                                                                                </select>
                                                                                                <div class="invalid-feedback">
                                                                                                            Requerido
                                                                                                        </div>
                                                                                            </div>
                                                                                            <div class="col-md-6">
                                                                                                <p class="error-demograficos"></p>
                                                                                                <p>Unidad Negocio</p>
                                                                                                <select class="form-select form-select-sm  select-aspectos-demograficos" require>
                                                                                                    <option value="" selected>Seleccione</option>
                                                                                                    <option value="value1">Unidad de Negocio</option>
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                    }
                                                                                   else{
                                                                                        <div class="col-md-6 col-sm-12">
                                                                                            <div class="options">
                                                                                                <select  class="form-select form-select-sm escala" aria-label="Default select example" required>
                                                                                                    <option value="" selected>Seleccione</option>
                                                                                                    @foreach (var item in pregunta.Opciones)
                                                                                                    {
                                                                                                        <option value="@item.OpcionName">@item.OpcionName</option>
                                                                                                    }
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                        break;
                                                                                        }
                                                                                }
                                                                                else if (pregunta.TipoPregunta == "Valoracion Multiple")
                                                                                {
                                                                                    <div class="col-md-6 col-sm-12">
                                                                                        <div class="options" id="multiple-options">
                                                                                                
                                                                                                <select class="form-select form-select-sm escala " aria-label="Default select example" required>
                                                                                                    <option value="" selected>Seleccione</option>
                                                                                                    @for(int i=1; pregunta.Opciones.Count >=i;i++){
                                                                                                        <option value="@i">@i</option>
                                                                                                    }
                                                                                                </select>
                                                                                        <div class="block-text ml-2" id="strongly-disagree" name="strongly-disagree"> @opcionP.OpcionName </div>
                                                                                        </div>
                                                                                    </div>
                                                                                }
                                                                                else if (pregunta.TipoPregunta == "Multiple Likkert")
                                                                                {
                                                                                    <div class="col-md-6 col-sm-12">
                                                                                        <div class="options-multiple-linkert">
                                                                                              <div class="block-text ml-2" id="strongly-disagree" name="strongly-disagree"> @opcionP.OpcionName </div>
                                                                                              <select class="form-select form-select-sm escala" aria-label="Default select example" required>
                                                                                                <option value="" selected>Seleccione</option>
                                                                                                @foreach(var option in pregunta.Opciones){
                                                                                                    <option value="1">@option.OpcionName</option>
                                                                                                }
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                }
                                                                                else
                                                                                {
                                                                                   <div style="height:50px;" class="mt-2">
                                                                                  <input type="text" class="form-control" required >
                                                                                  <div class="invalid-feedback">
                                                                                                Requerido.
                                                                                    </div>

                                                                                </div>
                                                                           
                                                                                }
                                                                            }
                                                                            opcion++;
                                                                        }
                                                                        else
                                                                        {
                                                                            <div style="height:50px;" class="mt-2">
                                                                                  <input type="text" class="form-control" >
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div style="padding-left: 28px; padding-right: 28px;">
                                                        <hr class="mb-0 mt-0">
                                                    </div>
                                                    opcion = 1;
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sc-xWrgk lssbs steppeActionBlock">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-right">
                                            @if (categori.Id==Model.Categorias.Last().Id)
                                            {
                                                <input type="button" name="previous" class="previous action-button-previous btn btn-dark mr-2" value="Anterior" />
                                                <input type="submit" name="next" id="EnviarEncuesta" class="action-button btn btn-success" value="Enviar Encuesta" />
                                            }
                                            else
                                            {
                                                if (categori.Id != Model.Categorias.First().Id)
                                                {
                                                    <input type="button" name="previous" class="previous action-button-previous btn btn-dark mr-2" value="Anterior" />
                                                }
                                                else
                                                {
                                                    <input type="button" onclick="history.back()" class="btn btn-dark mr-2" value="Anterior" />
                                                }
                                                <input type="button" id="siguiente" name="next" class="next action-button btn btn-primary" value="Siguiente" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </form>
            </div>
        </div>


    </div>
</div>


@section Scripts{
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/functionValidation.js" asp-append-version="true"></script>
    <script src="~/js/functionDeleteOptionSelect.js" asp-append-version="true"></script>
    <script>
        var capitales = [];
        var capitalesColo = "@String.Join(",",Model.CapitalesColombia).Replace("&#xE1;", "á").Replace("&#xED;", "í").Replace("&#xE9;", "é").Replace("&#xFA;", "ú").Replace("&#xF3;", "ó").Replace("&#xFC;", "ü")";
        capitalesColo = capitalesColo.replaceAll("&#xE1;", "á").replaceAll("&#xED;", "í").replaceAll("&#xE9;", "é").replaceAll("&#xFA;", "ú").replaceAll("&#xF3;", "ó").replaceAll("&#xFC;", "ü");
        var capitalesColombia=capitalesColo.split(",");
        document.querySelectorAll("#MultipleRegister")[0].onkeyup = function(){}
        document.querySelectorAll("#MultipleRegister")[1].onkeyup = function(){}
        @foreach(var pais in Model.Paises){
            @foreach (var ciudad in pais.Cities)
            {
                if (pais.CountryName != "Colombia"){
                <text> capitales.push({"pais":"@pais.CountryName".replace("&#xE1;","á").replace("&#xED;","í").replace("&#xE9;","é").replace("&#xFA;","ú").replace("&#xF3;","ó").replace("&#xFC;","ü"),
                "capital":"@ciudad.CityName".replace("&#xE1;","á").replace("&#xED;","í").replace("&#xE9;","é").replace("&#xFA;","ú").replace("&#xF3;","ó").replace("&#xFC;","ü")}); </text>
                }       
            }
        }
        paises.onchange = function(){
            filtrarCapitales();
        };

        function filtrarCapitales() {
            var paisSeleccionado = paises.value;
            if(paisSeleccionado=="Colombia"){
                capitalesFiltradas=capitalesColombia;
                actualizarSelectCapitales(capitalesFiltradas,"Colombia");
            }else{
            var capitalesFiltradas = capitales.filter(function(capital) {
                return capital.pais === paisSeleccionado;

            });
            actualizarSelectCapitales(capitalesFiltradas,"");
            }
            
        };

        function actualizarSelectCapitales(capitales,pais) {
            var select = document.querySelector("#capitales");
            select.innerHTML = "";
            console.log(capitales)
            // Si las capitales están guardadas en un array
            capitales.forEach(function(capital) {
                if (pais!="Colombia"){
                    var option = document.createElement("option");
                    option.value = capital.capital;
                    option.text = capital.capital;
                    select.appendChild(option);
                }else{
                        var option = document.createElement("option");
                        option.value = capital;
                        option.text = capital;
                        select.appendChild(option);
                
                }
            });
        };
        let FilasMultiples=document.querySelectorAll("#MultipleRegister")
        FilasMultiples.forEach((option)=>{
            option.onchange=()=>{
                let cantidad=option.value;
                let cantidadTotal=0;
                var trPadre=option.parentNode.parentNode;
                var trCopy = trPadre.previousElementSibling.cloneNode(true);
                if(option.previousElementSibling.textContent=="Hijo"){
                    trCopy.id=option.previousElementSibling.textContent+"Add";
                    cantidadTotal=document.querySelectorAll("#HijoAdd").length;
                }else{
                    trCopy.id=option.previousElementSibling.textContent+"Add";
                    cantidadTotal=document.querySelectorAll("#OtrosAdd").length;
                    
                }
                 
                if(cantidad>cantidadTotal){
                    if(option.previousElementSibling.textContent=="Otros")
                        trCopy.firstElementChild.innerHTML="<input type='text' class='form-control' required />"
                    else
                    trCopy.firstElementChild.innerHTML=option.previousElementSibling.textContent
                    block(trCopy.children[2].children[0]);
                    trPadre.insertAdjacentElement("afterend", trCopy);
                }else if(cantidad<=cantidadTotal && document.querySelectorAll("#"+option.previousElementSibling.textContent+"Add").length>0){
                    const elements = document.querySelectorAll("#"+option.previousElementSibling.textContent+"Add");
                    const lastElement = elements[elements.length-1];
                    lastElement.remove();
                }
                
            }
        })

        function block(element){
            let td=element.parentNode.parentNode;
            if(element.value=="Fallecido"){
                td.children[3].children[0].disabled=true;
                td.children[4].children[0].disabled=true;
                td.children[5].children[0].disabled=true;
            }else{
                td.children[1].children[0].disabled=false;
                td.children[2].children[0].disabled=false;
                td.children[3].children[0].disabled=false;
                td.children[4].children[0].disabled=false;
                td.children[5].children[0].disabled=false;
            }
        }

        let colaborador=document.getElementById("Colaborador");
        colaborador.children[2].children[0].onchange=(element)=>{
            if(element.target.value.includes("Viudo") || element.target.value.includes("Soltero") || element.target.value.includes("Divorciado")){
                   let td=element.target.parentNode.parentNode;
                   let nextTd=td.nextElementSibling;
                   console.log(nextTd);
                   nextTd.children[1].children[0].disabled=true;
                   nextTd.children[2].children[0].disabled=true;
                   nextTd.children[3].children[0].disabled=true;
                   nextTd.children[4].children[0].disabled=true;
                   nextTd.children[5].children[0].disabled=true;
            }else{
                let td=element.target.parentNode.parentNode;
                   let nextTd=td.nextElementSibling;
                   console.log(nextTd);
                   nextTd.children[1].children[0].disabled=false;
                   nextTd.children[2].children[0].disabled=false;
                   nextTd.children[3].children[0].disabled=false;
                   nextTd.children[4].children[0].disabled=false;
                   nextTd.children[5].children[0].disabled=false;
            }
            
        }

        //Funciones condicionales

 
    //window.onload = function () {
    //    for (i = 0; i < titles.length; i++) {
    //        if (i == 0) {
    //            $(".accordion").append(`
    //                ${validate(titles, i)}
    //            `);
    //        }
    //        else if (i == titles.length - 1) {
    //            $(".accordion").append(`
    //                ${validate(titles, i)}
    //            `);
    //        }
    //        else if (titles[i] == "Hijos" || (titles[i] == "Hermanos")) {
    //            $(".accordion").append(`
    //            <div class="card">
    //                <div class="card-header" id="headingOne${i}">
    //                    <h2 class="mb-0">
    //                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne${i}" aria-expanded="false" aria-controls="collapseOne">
    //                        ${titles[i]}
    //                    </button>
    //                    </h2>
    //                </div>
    //                <div id="collapseOne${i}" class="collapse" aria-labelledby="headingOne${i}" data-parent="#accordionExample" >
    //                    <div class="card-body">
    //                        <div>
    //                            <p> Ingrese la cantidad de ${titles[i].toLowerCase()}</p>
    //                            <input class="mobile-select" style="width: 50%;" type="number" name="quantity" min="0" max="10">
    //                            <div class="data">
    //                            </div>
    //                            <button type="button" class="btn btn-primary mobile-button">Siguiente</button>
    //                        </div>
    //                    </div>
    //                </div>
    //            </div>`);
    //        } else {
    //            $(".accordion").append(`
    //            ${validate(titles, i)}
    //        `);
    //        }
    //        $('.mobile-select').bind("paste keydown keyup",function(e) {
    //            e.preventDefault();
    //        });
    //    }

    //    let mobileButtons = document.getElementsByClassName("mobile-button")
    //    let collapse = document.getElementsByClassName("collapse")

    //    for (let index = 0; index < mobileButtons.length; index++) {
    //        mobileButtons[index].onclick = function () {
    //            collapse[index].classList.remove("show")
    //            collapse[index + 1].classList.add("show")
    //        }
    //    }
    //    let some = document.getElementsByClassName("mobile-select")
    //    let some_ = document.getElementsByClassName("mobile-select").length + 1
    //    for (let index = 0; index < some.length; index++) {
    //        document.getElementsByClassName("mobile-select")[index].onchange = function () {
    //            let value = document.getElementsByClassName("mobile-select")[index].value
    //            let value_ = 1
    //            $(`.data:eq(${[index]})`).empty();
    //            for (let index_ = 0; index_ < value; index_++) {
    //                $(`.data:eq(${[index]})`).append(`<div class="d-flex flex-column">
    //                <h6 class="mb-5"> ${demograficos_multiple_title[index]} ${value_}</h6>
    //                ${htmlMobileView}
    //                </div>`)
    //                value_++;
    //            };
    //        }
    //    }
    //}

</script>
    }