@model ProyectoIdentity.Controllers.SurveyNew

@{
    ViewData["Title"] = "Delete";
    bool Active = true;
    string firstSteper = "js-active";
    int opcion = 1;
    string[] iconStepper = {"","bi bi-globe-americas",
                            "bi bi-heart-pulse",
                            "bi bi-piggy-bank-fill",
                            "bi bi-person-check-fill",
                            "bi bi-tools",
                            "bi bi-shield-lock-fill" };
    int indexPregunta = 1;
}


@section Styles{

    <link rel="stylesheet" href="~/css/styleStepper.css">
    <link rel="stylesheet" href="~/css/Preguntas.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

}

<form id="msform" class="needs-validation" novalidate asp-action="EnvioIndexRespuestasMadurez" asp-controller="Respuestas">
<div class="container" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="row">
            <div class="col-md-12 mx-0 ">
                
                    <input type="hidden" name="IdEncuesta" id="Ide" value="@Model.Id"/>
                    <!-- progressbar -->
                    <div class="align-items-center"></div>
                    <ul id="progressbar" class="justify-content-center d-flex">

                        @foreach (var categori in Model.Categorias)
                        {
                            if (Active)
                            {
                                <li class="col-md-2 active @iconStepper[opcion]" id="account"><strong>@opcion .@categori.NombreCategoria</strong></li>
                                Active = false;
                            }
                            else
                            {
                                <li class="col-md-2 @iconStepper[opcion]" id="personal"><strong>@opcion .@categori.NombreCategoria</strong></li>
                            }
                            opcion++;
                        }
                        @{
                            opcion = 1;
                        }

                    </ul>

                    <!-- fieldsets -->
                    @foreach (var categori in Model.Categorias)
                    {
                        <fieldset>
                            <div class="w-100 mt-4 shadow p-4 rounded bg-white">
                                <div>
                                    <div class="addQuestion mt-2">
                                        <div class="question-list ">
                                            @if (categori.Preguntas != null)
                                            {
                                                <h3 class="titulo-dimension">Beneficios y Madurez</h3>
                                                <p class="error-description text-center">@categori.Description</p>

                                                @foreach (var pregunta in categori.Preguntas)
                                                {
                                                    <input type="hidden" name="IdPregunta[@(indexPregunta-1)]" id="Id" value="@pregunta.IdPregunta"/>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="showEditDelete">
                                                                <div>
                                                                    @if (indexPregunta == 7)
                                                                    {
                                                                        <div class="bold-questions  mb-0">
                                                                            <p class="font-italic">‘De la siguiente lista de beneficios que ofrece el mercado (numerales 7-22), por favor especifique si aplican en la compañía o el nivel de percepción.’</p>
                                                                            <p>@indexPregunta.&nbsp;@Html.DisplayFor(p=>pregunta.NombrePregunta)</p>
                                                                        </div>
                                                                        
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="bold-questions d-inline-flex mb-0">@indexPregunta.&nbsp;@Html.DisplayFor(p=>pregunta.NombrePregunta)</div>
                                                                        
                                                                    }
                                                                    <div class="row ml-2">
                                                                        @if (pregunta.Opciones != null)
                                                                        {
                                                                            int valueRespuesta = 1;
                                                                            @foreach (var opcionP in pregunta.Opciones)
                                                                            {
                                                                                
                                                                                
                                                                                @if (pregunta.TipoPregunta == "Likkert")
                                                                                {
                                                                                    <div class="col-md-6 col-sm-12">
                                                                                        <div class="options-multiple-linkert">

                                                                                            <select class="form-select form-select-sm likkert" aria-label="Default select example" required name="ValueRespuesta[@(indexPregunta-1)]" id="ValueRespuesta">
                                                                                                <option value="" selected>Seleccione</option>

                                                                                                @foreach (var option in pregunta.Opciones)
                                                                                                {
                                                                                                    <option value="@valueRespuesta">@option.OpcionName</option>
                                                                                                    valueRespuesta++;
                                                                                                }
                                                                                            </select>
                                                                                            <div class="invalid-feedback">
                                                                                                Requerido.
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    break;
                                                                                }
                                                                                else if (pregunta.TipoPregunta == "Seleccion Multiple")
                                                                                {
                                                                                    string negrita = opcionP.OpcionName.Split(":")[0];
                                                                                    string otro = opcionP.OpcionName.Split(":")[1];
                                                                                    <div class="form-check-inline">
                                                                                        <div class="col-md-12 col-sm-12">
                                                                                            <div class="options">
                                                                                                <input class="form-check-input datacheck" type="radio" name="ValueRespuesta[@(indexPregunta-1)]" id="ValueRespuesta" value="@valueRespuesta" required>
                                                                                                <div class="block-text ml-2 minimo words" id="strongly-disagree" name="strongly-disagree"><i class="fw-bold">@negrita</i> @otro</div>
                                                                                            </div>

                                                                                        </div>
                                                                                        <div class="invalid-feedback">
                                                                                            You must agree before submitting.
                                                                                        </div>
                                                                                    </div>
                                                                                    valueRespuesta++;
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div style="height:50px;" class="mt-2">
                                                                                        <input type="text" class="form-control" required name="LabelRespuesta" id="LabelRespuesta">
                                                                                        <div class="invalid-feedback">
                                                                                            Requerido.
                                                                                        </div>

                                                                                    </div>

                                                                                }
                                                                                
                                                                            }
                                                                            opcion++;
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div style="padding-left: 28px; padding-right: 28px;">
                                                        <hr class="mb-0 mt-0">
                                                    </div>
                                                    opcion = 1;
                                                    indexPregunta++;
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sc-xWrgk lssbs steppeActionBlock">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-right">
                                            @if (categori.Id == Model.Categorias.Last().Id)
                                            {
                                                <input type="button" name="previous" id="Anterior" class="previous action-button-previous btn btn-dark mr-2" value="Anterior" />
                                                <input type="submit" name="next" id="EnviarEncuestaMadurez" class="action-button btn btn-success" value="Enviar Encuesta" />
                                            }
                                            else
                                            {
                                                if (categori.Id != Model.Categorias.First().Id)
                                                {
                                                    <input type="button" name="previous" class="previous action-button-previous btn btn-dark mr-2" value="Anterior" />
                                                }
                                                else
                                                {
                                                    <input type="button" onclick="history.back()" class="btn btn-dark mr-2" value="Anterior" />
                                                }
                                                <input type="button" name="next" class="next action-button btn btn-primary" value="Siguiente" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                
            </div>
        </div>
    </div>
</div>
</form>

@section Scripts{
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/js/functionValidation.js" asp-append-version="true" />
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                let button = document.getElementById("EnviarEncuestaMadurez");
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        debugger;
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                            let firstInvalid = form.querySelector('[required]:invalid');
                            firstInvalid.focus();
                        } else {
                            //Revisar
                            form.submit();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();


        $(function () {
            $("#Anterior").click(function (e) {
                e.preventDefault();
                document.location = '@Url.Action("RedirectIndexRespuestasMadurez","Respuestas")';
            });
        });
    </script>
}
