@model ApiPrueba.Models.ModelsJourney.VersionEncuesta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VersionEncuesta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VersionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaMaximoPlazo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaMaximoPlazo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Encuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Encuesta.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
