@model IEnumerable<ProyectoIdentity.Models.ModelsJourney.Company>

@{
    ViewData["Title"] = "Index";
    int indxInput = 0;
}

@section Styles{
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/Tables.css">
}
<div class="TitleTable"><h4>Datos de Usuarios</h4></div>

<p class="btn btn-info shadow titleButtonP">
    <i class="bi bi-plus-circle-dotted"></i>
    <a class="titleButton" asp-action="Create">Nuevo Usuario</a>
</p>

<table class="display"  id="TableCompany">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Telefono
            </th>
            <th>
                Estado
            </th>            
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td class="d-flex">
                  <input class="form-check-input"  type="checkbox" id="CheckActive">
                  <label class="form-check-label" for="flexCheckDefault" id="labelActive">
                    Inactivo
                  </label> 
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CompanyId"><i class="bi bi-pencil-square"></i></a> 
                    <a asp-action="Details" asp-route-id="@item.CompanyId"><i class="bi bi-list"></i></a> 
                    <a asp-action="Delete" asp-route-id="@item.CompanyId"><i class="bi bi-trash3-fill"></i></a>
            </td>
        </tr>
            indxInput++;
}
    </tbody>
</table>
@section Scripts{
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/FunctionUser.js"></script>
    <script>
        $(document).ready( function () {
            $('#TableCompany').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                    }
                }
            
            );

        } );
        
    </script>
}