@model IEnumerable<ProyectoIdentity.Models.ModelsJourney.Company>

@{
    ViewData["Title"] = "Index";
}
@section styles{
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.css"/>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="CompanyTable">
  <thead class="bg-light">
    <tr>
      <th>@Html.DisplayNameFor(model => model.Name)</th>
      <th>Email/Nombre</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model) {
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-bold mb-1">@Html.DisplayFor(modelItem => item.Name)</p>
            <p class="text-muted mb-0">@Html.DisplayFor(modelItem => item.Adress)</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">@Html.DisplayFor(modelItem => item.Email)</p>
         <p class="text-muted mb-0">@Html.DisplayFor(modelItem => item.PersonFullName)</p>
      </td>
      <td>
        <span class="badge badge-success rounded-pill d-inline">Active</span>
      </td>
      <td>
        <a class="btn btn-link btn-rounded btn-sm fw-bold"
                data-mdb-ripple-color="dark"
                 asp-action="Edit" asp-route-id="@item.CompanyId"> 
         
            Modificar
        </a>
        <a class="btn btn-link btn-rounded btn-sm fw-bold"
           data-mdb-ripple-color="dark"
          asp-action="Delete" asp-route-id="@item.CompanyId">
          Eliminar
        </a>
      </td>
      
    </tr>
    
    }
    </tbody> 
</table>
@section scripts{
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready( function () {
        $('#CompanyTable').DataTable();
        } );
    </script>
}
